@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap');

/* #underline
{
    text-decoration: 'none';
} */



.side-nav{
    background-color: #990001;
}


.names{
    color: white;
    text-decoration: none;
<<<<<<< HEAD
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.cardVal
{
    width:250px;
    height: 75px;
    margin: 8px;
    border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.innerbox{
    margin:auto;
}

.buttonDown{
    border-radius: 8%;
    background-color: beige;
    height: 30px;
=======
    font-family: 'Libre Baskerville', serif;
>>>>>>> 4c61a1c28b2db0146c9e3970558d637417ab1fe9
}